<div class="patient-item">
  <h4 class="patient">{{ patient.firstName }}</h4>
</div>
<div class="patient-item">
  <h4 class="patient">{{ patient.lastName }}</h4>
</div>
<div class="patient-item">
  <p class="patient">{{ patient.dateOfBirth }}</p>
</div>
<div class="patient-item">
  <p class="patient">{{ patient.sex }}</p>
</div>
<div class="patient-item patient-item-edit-btns">
  <a [routerLink]="['/patients/edit', patient.id]" class="btn edit-form-link">
    Edit
  </a>
</div>
<div class="patient-item">
  <a
    [routerLink]="['/patients/delete', patient.id]"
    class="btn delete-form-link"
  >
    Delete
  </a>
</div>
